<div class="container">

<h1>All the Restaurants </h1>
  <div class="restaurant">
<% @restaurants.each do |restaurant|  %>
<ul>
<li> <%= restaurant.name %>
  <%= link_to "", edit_restaurant_path(restaurant), class: "glyphicon glyphicon-pencil" %>
  <%= link_to "", restaurant_path(restaurant), class: "glyphicon glyphicon-plus" %>
  <%= link_to "", restaurant_path(restaurant), class: "glyphicon glyphicon-trash",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</li>
</ul>
<% end %>
</div>

<%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>

